body {
	font-family: 'Lato', sans-serif;
	list-style: none;
}


.navbar-form .form-control {
	display: inline-block;
	width: 500px;
	margin-left: 15%;
	vertical-align: middle;
	box-shadow: 5px 5px 20px -6px gray;
}

.navColor{
	background-color: #303030;
	color: #D23641;
	box-shadow: 5px 5px 20px -6px gray;
}


.submitSearch {
	color: #fff;
	background-color: #D23641;
	padding-left: 4%;
}


.navShadow {
	box-shadow: 5px 5px 20px -6px gray;
}

.navbar-form {
	margin-top: 3%;
	padding-right: 13%;
	font-size: 0px;
	text-align: center;
	vertical-align: middle;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ghost {
	margin-top: 140px;
}

.radio {
	padding-left: 14%;
	float: right;
}

.messageHeader {
	padding-top: 1%;
	margin: 0 auto;
	text-align: center;
	max-width: 50%;
	border-bottom: 2px solid #D23641;
	padding-bottom: 1%;
}

.messageBox {
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #443642, 0 0 0 10px #fff, 0 0 2px 10px #eee;
	min-height: 600px;
	text-align: center;
	background-color: #cbcbcb;
	padding-bottom: 3%;
}

.hidden {
	display: none;
}

/*.messageCard {
	border 1px solid white;
}

.messageCard {
	background-image: url(/img/cardBG.png);
	margin-top: 2%;
	margin: 0 auto;
	text-align: center;
	max-width: 50%;
	border-bottom: 2px solid #70CADB;
	padding-bottom: 2%;
	padding-top: 2%;
	color: #443642 ;
	position: relative;
	padding-left: 1%;
	padding-right: 1%;
}
*/


/*.delete-single-message {
	position: absolute;
	top: 8%;
  right: 2%;
  display: none;
}
*/

.navbar-default .navbar-brand {
	color: white;
}

.isHidden {
	display: none;
}

.movieimg{
	max-width: 200px;
	max-height: 266.5px;
}
.card {
	width:20rem;
	height: 500px;
}